# Module 1

# Query 1.1

Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly. You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
#importing required libraries
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Reading, Analyze and understand each column properly

In [2]:
#reading and showing(5 rows) of the data
df = pd.read_csv('rcom.csv')

print(df.shape)

df.head()

(494, 15)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RCOM,EQ,15-May-2017,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77
1,RCOM,EQ,16-May-2017,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40
2,RCOM,EQ,17-May-2017,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41
3,RCOM,EQ,18-May-2017,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43
4,RCOM,EQ,19-May-2017,31.05,31.20,31.45,30.25,30.55,30.55,30.80,11898780,3.664547e+08,18065,3309529,27.81

In [3]:
# reading the last 5 rows of the data set
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,RCOM,EQ,07-May-2019,2.0,2.00,2.1,2.0,2.1,2.1,2.06,64199212,1.325275e+08,9103,34677474,54.02
490,RCOM,EQ,08-May-2019,2.1,2.10,2.2,2.1,2.2,2.2,2.18,27455636,5.972756e+07,4208,14957834,54.48
491,RCOM,EQ,09-May-2019,2.2,2.30,2.3,2.3,2.3,2.3,2.30,7854126,1.806449e+07,2385,7711773,98.19
492,RCOM,EQ,10-May-2019,2.3,2.40,2.4,2.4,2.4,2.4,2.40,3584592,8.603021e+06,1560,3584592,100.00
493,RCOM,EQ,13-May-2019,2.4,2.45,2.5,2.3,2.3,2.3,2.40,42329516,1.014503e+08,9541,26309575,62.15

#### This function shows you some basic descriptive statistics for all numeric columns

In [4]:
#to describe the data
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,16.820142,16.863259,17.443016,16.225709,16.777328,16.759109,16.821559,8.181477e+07,1.489670e+09,56062.121457,1.170347e+07,20.647409
std,7.322270,7.368338,7.612551,7.105002,7.312129,7.317379,7.355214,9.697732e+07,2.484907e+09,71264.933474,1.156378e+07,19.822431
min,1.850000,1.850000,1.850000,1.850000,1.850000,1.850000,1.850000,2.367025e+06,4.734050e+06,1408.000000,1.166757e+06,5.370000
25%,12.912500,12.912500,13.362500,12.312500,12.912500,12.862500,12.870000,3.247540e+07,4.653840e+08,21688.000000,5.204915e+06,10.862500
50%,15.925000,16.000000,16.575000,15.450000,15.850000,15.900000,15.910000,5.695370e+07,8.004086e+08,38198.000000,8.018976e+06,14.075000
75%,22.287500,22.337500,22.900000,21.650000,22.337500,22.237500,22.412500,9.316670e+07,1.597794e+09,61075.500000,1.278285e+07,20.247500
max,36.150000,37.250000,40.150000,33.950000,36.300000,36.150000,36.580000,8.277140e+08,2.506662e+10,648577.000000,8.167163e+07,100.000000

In [5]:
df.describe(include=np.object)#Display some descriptive statistics for the object columns
#checking for series if it is not (EQ)and dates if they are repeating

       Symbol Series         Date
count     494    494          494
unique      1      1          494
top      RCOM     EQ  22-Sep-2017
freq      494    494            1

#### Display all columns and their data types

In [6]:
#information of the data set
df.info() #checking for null values too.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    object
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 58.0+ KB

## Query 1.2

##### Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

## Note: -
#### Sunday and saturday are not included in this calculation below

In [7]:
print(df[['Date']].duplicated().sum())#checking the duplicate values
close_price_last_90_days = df["Close Price"].tail(90)
print(type(close_price_last_90_days))
print(close_price_last_90_days.shape)#checking the close price data as we know that the data is already sorted
close_price_last_90_days

0
<class 'pandas.core.series.Series'>
(90,)

404    14.40
405    14.35
406    13.85
407    13.50
408    14.00
       ...
489     2.10
490     2.20
491     2.30
492     2.40
493     2.30
Name: Close Price, Length: 90, dtype: float64

In [8]:
max_price = np.max(close_price_last_90_days)# calculating the maximum closing price for the last 90 days
max_price

14.4

In [9]:
min_price = np.min(close_price_last_90_days)# calculating the minimum closing price for the last 90 days
min_price

1.85

In [10]:
mean_price = np.mean(close_price_last_90_days)#calculating the mean closing price for the last 90 days
mean_price

6.782777777777777

# Query 1.3

### Analyse the Data type for each column of the data frame.
### Changing the Date column from 'object' type to 'datetime64(ns)' for future convience.

In [11]:
#information of the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    object
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 58.0+ KB

In [12]:
df['Date']

0      15-May-2017
1      16-May-2017
2      17-May-2017
3      18-May-2017
4      19-May-2017
          ...
489    07-May-2019
490    08-May-2019
491    09-May-2019
492    10-May-2019
493    13-May-2019
Name: Date, Length: 494, dtype: object

#### Changing the Date column from 'object' type to 'datetime64(ns)'

In [13]:
df["Date"] = pd.to_datetime(df["Date"])

In [14]:
 # check if the date is successfully  converted
df.Date

0     2017-05-15
1     2017-05-16
2     2017-05-17
3     2017-05-18
4     2017-05-19
         ...
489   2019-05-07
490   2019-05-08
491   2019-05-09
492   2019-05-10
493   2019-05-13
Name: Date, Length: 494, dtype: datetime64[ns]

In [15]:
df.Date.max()-df.Date.min()

Timedelta('728 days 00:00:00')

# Query 1.4

#### In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock.

### ( VWAP = sum(price * volume)/sum(volume) )

In [16]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [17]:
def VWAP(data):
    vwap = (data['Close Price'] * data['Total Traded Quantity']).sum() / data['Shares Traded'].sum()
    return vwap

#### creating a spearate column for month and year in the data frame

In [18]:
df['Month'] = pd.DatetimeIndex(df['Date']).month #column for month
df['Year'] = pd.DatetimeIndex(df['Date']).year #column for year

In [19]:
df.tail(2) #checking if the month and year column are successfully added to data frame

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year
492,RCOM,EQ,2019-05-10,2.3,2.40,2.4,2.4,2.4,2.4,2.4,3584592,8603020.8,1560,3584592,100.00,5,2019
493,RCOM,EQ,2019-05-13,2.4,2.45,2.5,2.3,2.3,2.3,2.4,42329516,101450335.7,9541,26309575,62.15,5,2019

In [20]:
#checking for dtype and null values in the column that we have created
print(df[['Month']].info())
print(df[['Year']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   494 non-null    int64
dtypes: int64(1)
memory usage: 4.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    494 non-null    int64
dtypes: int64(1)
memory usage: 4.0 KB
None

In [21]:
#calculate the vwap value for each month (i.e. for each group created).
df['VWAP'] = (df['Close Price'] * df['Total Traded Quantity']).cumsum() / df['Total Traded Quantity'].cumsum()
rcom_vwap = df[['Month','Year','VWAP']]
groupByMonth = rcom_vwap.groupby(['Month','Year'])

In [22]:
groupByMonth.last()

                 VWAP
Month Year
1     2018  24.293591
      2019  19.713744
2     2018  24.667451
      2019  18.699775
3     2018  24.630944
      2019  18.390319
4     2018  24.319645
      2019  18.220937
5     2017  22.109320
      2018  22.558885
      2019  18.154532
6     2017  20.875339
      2018  21.940432
7     2017  21.554233
      2018  21.551343
8     2017  21.829156
      2018  21.235930
9     2017  21.644722
      2018  20.917020
10    2017  20.698753
      2018  20.525038
11    2017  18.608330
      2018  20.290404
12    2017  21.312052
      2018  19.965793

In [23]:
df.tail()# analysing the dataframe again to check vmap

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP
489,RCOM,EQ,2019-05-07,2.0,2.00,2.1,2.0,2.1,2.1,2.06,64199212,1.325275e+08,9103,34677474,54.02,5,2019,18.186518
490,RCOM,EQ,2019-05-08,2.1,2.10,2.2,2.1,2.2,2.2,2.18,27455636,5.972756e+07,4208,14957834,54.48,5,2019,18.175643
491,RCOM,EQ,2019-05-09,2.2,2.30,2.3,2.3,2.3,2.3,2.30,7854126,1.806449e+07,2385,7711773,98.19,5,2019,18.172555
492,RCOM,EQ,2019-05-10,2.3,2.40,2.4,2.4,2.4,2.4,2.40,3584592,8.603021e+06,1560,3584592,100.00,5,2019,18.171155
493,RCOM,EQ,2019-05-13,2.4,2.45,2.5,2.3,2.3,2.3,2.40,42329516,1.014503e+08,9541,26309575,62.15,5,2019,18.154532


# Query 1.5 Write a function to calculate the average price over the last N days of the stock price data

##### where N is a user defined parameter.
##### Write a second function to calculate the profit/loss percentage over the last N days.
##### Calculate the average price AND the profit/loss percentages over the course of last

    1 week,
    2 weeks,
    1 month,
    3 months,
    6 months and
    1 year.

{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [24]:
def avgNDayPrice(N): #function to check the average of the last n weeaks
    return df['Average Price'].tail(N).mean()
def profitLossNDays(N):
    change = (df['Close Price'].tail(N).iloc[N-1] - df['Close Price'].tail(N).iloc[0])
    profit_loss_percen = (change/df['Close Price'].tail(N).iloc[N-1])*100
    return abs(profit_loss_percen)

In [25]:
print("Average prices for last N days are as follows:")

days = int(input("Enter the last N days upto which you want the average price : "))
print("Last {} Days average price :".format(days),round(avgNDayPrice(days),2))

Average prices for last N days are as follows:
Enter the last N days upto which you want the average price : 50
Last 50 Days average price : 3.86

In [26]:
print("Loss/Profit percentage for last N days are as follows:")

p_l_days = int(input("Enter the last N days upto which you want the Loss/Profit percentage : "))

print("Last {} Datys Loss/Profit percentage is: ".format(p_l_days),round(profitLossNDays(p_l_days),2))

Loss/Profit percentage for last N days are as follows:
Enter the last N days upto which you want the Loss/Profit percentage : 65
Last 65 Datys Loss/Profit percentage is:  228.26


# Query 1.6: Adding a column 'Day_Perc_Change'

Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices.

Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes.

You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [27]:
df['Day_Perc_Change'] = df['Close Price'].pct_change().fillna(0)
df.head(4)#analysing the frist 4 rows

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,RCOM,EQ,2017-05-15,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77,5,2017,32.000000,0.000000
1,RCOM,EQ,2017-05-16,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40,5,2017,32.050516,0.003125
2,RCOM,EQ,2017-05-17,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41,5,2017,32.020112,-0.004673
3,RCOM,EQ,2017-05-18,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43,5,2017,31.679133,-0.028169

In [28]:
df.tail(4)#analysing the last 4 rows

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
490,RCOM,EQ,2019-05-08,2.1,2.10,2.2,2.1,2.2,2.2,2.18,27455636,59727557.0,4208,14957834,54.48,5,2019,18.175643,0.047619
491,RCOM,EQ,2019-05-09,2.2,2.30,2.3,2.3,2.3,2.3,2.30,7854126,18064489.8,2385,7711773,98.19,5,2019,18.172555,0.045455
492,RCOM,EQ,2019-05-10,2.3,2.40,2.4,2.4,2.4,2.4,2.40,3584592,8603020.8,1560,3584592,100.00,5,2019,18.171155,0.043478
493,RCOM,EQ,2019-05-13,2.4,2.45,2.5,2.3,2.3,2.3,2.40,42329516,101450335.7,9541,26309575,62.15,5,2019,18.154532,-0.041667


# Query 1.7 Add another column 'Trend'

- ### whose values are:

    - 'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
    - 'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
    - 'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
    - 'Positive' for 'Day_Perc_Change' in between 1 and 3
    - 'Negative' for 'Day_Perc_Change' in between -1 and -3
    - 'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
    - 'Among top losers' for 'Day_Perc_Change' in between -3 and -7
    - 'Bull run' for 'Day_Perc_Change' >7
    - 'Bear drop' for 'Day_Perc_Change' <-7

In [29]:
df['Trend'] = np.nan
for i in range(len(df)):
    #'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
    if ((df['Day_Perc_Change'][i] >= -0.5) & (df['Day_Perc_Change'][i] <= 0.5)):
    
        df['Trend'][i] = 'Slight or No change'
    
    #'slight positive' for 'Day_Perc_Change' in between 0.5 and 1
    if ((df['Day_Perc_Change'][i] >= 0.5) & (df['Day_Perc_Change'][i] <= 1)):
    
        df['Trend'][i] = 'Slight positive'
    
    #'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
    if ((df['Day_Perc_Change'][i] <= -0.5) & (df['Day_Perc_Change'][i] >= -1)):
    
        df['Trend'][i] = 'Slight negative'
    
    #'Positive' for 'Day_Perc_Change' in between 1 and 3
    if ((df['Day_Perc_Change'][i] >= 1) & (df['Day_Perc_Change'][i] <= 3)):
    
        df['Trend'][i] = 'Positive' 
    
    #'Negative' for 'Day_Perc_Change' in between -1 and -3
    if ((df['Day_Perc_Change'][i] <= -1) & (df['Day_Perc_Change'][i] >= -3)):
    
        df['Trend'][i] = 'Negative'
    
    #'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
    if ((df['Day_Perc_Change'][i] >= 3) & (df['Day_Perc_Change'][i] <= 7)):
    
        df['Trend'][i] = 'Among top gainers'
    
    #'Among top losers' for 'Day_Perc_Change' in between -3 and -7   
    if ((df['Day_Perc_Change'][i] <= -3) & (df['Day_Perc_Change'][i] >= -7)):
    
        df['Trend'][i] = 'Among top losers'
    
    #'Bull run' for 'Day_Perc_Change' >7
    if (df['Day_Perc_Change'][i] > 7):
    
        df['Trend'][i] = 'Bull run' 
    
    #'Bear drop' for 'Day_Perc_Change' <-7
    if (df['Day_Perc_Change'][i] < -7):
    
        df['Trend'][i] = 'Bear drop'

In [30]:
display(df)#analysing the change

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,RCOM,EQ,2017-05-15,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77,5,2017,32.000000,0.000000,Slight or No change
1,RCOM,EQ,2017-05-16,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40,5,2017,32.050516,0.003125,Slight or No change
2,RCOM,EQ,2017-05-17,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41,5,2017,32.020112,-0.004673,Slight or No change
3,RCOM,EQ,2017-05-18,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43,5,2017,31.679133,-0.028169,Slight or No change
4,RCOM,EQ,2017-05-19,31.05,31.20,31.45,30.25,30.55,30.55,30.80,11898780,3.664547e+08,18065,3309529,27.81,5,2017,31.371935,-0.016103,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,RCOM,EQ,2019-05-07,2.00,2.00,2.10,2.00,2.10,2.10,2.06,64199212,1.325275e+08,9103,34677474,54.02,5,2019,18.186518,0.050000,Slight or No change
490,RCOM,EQ,2019-05-08,2.10,2.10,2.20,2.10,2.20,2.20,2.18,27455636,5.972756e+07,4208,14957834,54.48,5,2019,18.175643,0.047619,Slight or No change
491,RCOM,EQ,2019-05-09,2.20,2.30,2.30,2.30,2.30,2.30,2.30,7854126,1.806449e+07,2385,7711773,98.19,5,2019,18.172555,0.045455,Slight or No change
492,RCOM,EQ,2019-05-10,2.30,2.40,2.40,2.40,2.40,2.40,2.40,3584592,8.603021e+06,1560,3584592,100.00,5,2019,18.171155,0.043478,Slight or No change
493,RCOM,EQ,2019-05-13,2.40,2.45,2.50,2.30,2.30,2.30,2.40,42329516,1.014503e+08,9541,26309575,62.15,5,2019,18.154532,-0.041667,Slight or No change


# Query 1.8 Finding the average and median values

### Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.

Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'

In [31]:
print('The Average of the Total Traded Quantity grouped by Trend is:')
df[['Trend','Total Traded Quantity']].groupby(by = ['Trend']).mean() # claculating the average

The Average of the Total Traded Quantity grouped by Trend is:

                     Total Traded Quantity
Trend
Slight or No change           8.085121e+07
Slight positive               5.568491e+08

In [32]:
print('The Median of the Total Traded Quantity grouped by Trend is:')
df[['Trend','Total Traded Quantity']].groupby(by = ['Trend']).median()# calculating the median

The Median of the Total Traded Quantity grouped by Trend is:

                     Total Traded Quantity
Trend
Slight or No change               56941722
Slight positive                  556849068


# Query 1.9

### SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [33]:
new_csv = df.to_csv("week2.csv")